        body {

        }

        header {
            background-color: #1f4ca5;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        nav {
            background-color: #10347c;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
            font-weight: bold;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        gd {
            color: #6d8cc5;
        }

        img {
            width: 100px;
            height: auto;
        }

          opis {
              font-weight: bold;
        }

        propos{
              text-align: center;
              color: red;
              font-weight: bold;
        }

        .container {
            display: flex;
        }

        .text {
            flex: 1; /* Растягивает текст на всю доступную ширину */
        }

        .table {
            flex: 2; /* Занимает 2/3 доступной ширины */
            margin-left: 20px; /* Отступ от текста */
        }
